writable/cache/*
writable/logs/*
writable/session/*
writable/uploads/*
writable/debugbar/*

.env
.env.development
.env.testing
.env.production

vendor/
node_modules/

.DS_Store
Thumbbs.db
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

php_errors.log
*.log